@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}



.center {
    text-align: center;
    float:left;
    margin: 25px;
}

.title {
    text-align: center;
}

body {
    background-color: lightblue;
    font-family: Impact, Charcoal, sans-serif;
}